.footer{
  height:55px;
  background-color:#018bc6;
  width:100%;
}

p.copyright{
  font-family:Arial;
  color:white;
  font-size:25px;
  padding-top:10px;
}

.menurapido{
  height:170px;
  background-color:#0c1c26;
  margin-bottom:0px;
  min-height:170px;
}

