.table tbody>tr>td{
    vertical-align: middle;
}
.box {
    transition: all 0.2s ease;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-clip: padding-box;
    padding: 0 20px 20px 20px;
    min-height: 340px;
}
    
.box .box-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}
    
.box .box-content p {
    color: #515c66;
    text-transform: none;
}
	    
label {
	height: 100px;
	width: 50px;
    }
	
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
padding-right: 17px;
}